* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: normal;
	font-family: sans;
	list-style: none;
}

body {
	background: #EEE;
}

header, main {
	padding: 1rem;
	background: #FFFFFF;
	box-shadow: 0 0 5px #AAA;
}

header {
	position: sticky;
	top: 0;
	text-align: center;
}

header label {
	display: block;
	margin-top: 0.3rem;
}

label > input {
	margin-right: 0.3rem;
}

main {
	max-width: 60ch;
	margin: 0 auto 1rem auto;
	border-radius: 0 0 1rem 1rem;
}

div#integration {
	margin-bottom: 1rem;
}

article h3 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
article>*:not(:last-child) {
	padding-bottom: 0.2rem;
}

article:not(:last-of-type) {
	border-bottom: 1px solid #AAA;
	padding-bottom: 0.5rem;
}

article:not(:first-of-type) {
	padding-top: 0.5rem;
}

article p.url {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
